html,body {
	height: 100%;
}

body {
	position: relative;
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

.sidebar {
	width: 254px;
	position: fixed;
	border-right: 1px solid #999;
	top: 0;
	bottom: 0;
	left: 0;
}

.search {
	padding: 5px;
	border-bottom: 1px solid #666;
	position: relative;
	background: #e8e8e8;
	top: 0;
	left: 0;
}

.search input {
	width: 100%;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-webkit-appearance: searchfield;
	display: inline-block;
	height: 22px;
}

#tree {
	width: 100%;
	overflow: auto;
	list-style: none;
	padding: 0;
	margin-top: -5px;
	position: absolute;
	top: 38px;
	bottom: 0;
}
#tree a {
	padding: 5px 10px;
	position: relative;
	display: block;
}
#tree a:nth-child(odd) {
	background-color: #EFEFEF;
}
#tree a:hover {
	background-color: #CCC;
}
#tree a:focus {
	background-color: #63A7DE;
}

#main {
  position: relative;
	margin-left: 254px;
}


#content h1{
  position: relative;
  margin: 0;
  padding: 20px;
  line-height: 100%;
  background: #00539f;
  color: #FFF;
}
#content h1 em{
	float: :right;
	font-size: 14px;
}
#content h1 + p{
  padding: 10px 20px;
  background: #00539f;
  color: #FFF;
}
#content h1 + p em{
  float: right;
}
#content p + p{
	margin: 20px;
}
#content h5{
  margin: 10px 0;
  padding: 10px 25px 3px;
  border-bottom: 1px solid #CCC;
}
#content h3{
  padding: 5px 20px;
  border-bottom: 1px solid #CCC;
}
#content h5 + p{
	margin: 25px;
}





.cowboy{
  margin: 0 auto;
  text-align: center;
}
.cowboy::before{
  display: inline-block;
  content: " ";
  width: 50px;
  height: 50px;
  margin: 10px;
  vertical-align: middle;
  background: transparent url(../image/myloading.gif) center center no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.cowboy.index{
  width: 100%;
  height: 100px;
  margin-top: -80px;
  position: fixed;
  top: 50%;
  font-size: 24px;
  /*margin-left: -11%;*/
}
.cowboy.index::before{
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

.date {
  position: fixed;
  text-align: center;
  top: 20px;
  left: 1150px;
  width: 60px;
  height: 20px;
  box-shadow: 5px 5px 3px #888888;
  background-color: black;
  color: white;
  z-index: 2;
  overflow: hidden;
  transition: width 2s,height 2s;
}
.date:hover {
  width: 100px;
  height: 40px;
  box-shadow: 10px 10px 5px #888888;
}

.about {
  position: relative;
  width: 100%;
  height: 100%;
}
.about h1 {
  text-align: center;
  padding-top:20%;
  margin: 0px;
}
.myanimation {
  width: 100px;
  height: 70px;
  background:red;
  position:absolute;
  text-align: center;
	animation: myanimation 10s linear 0s infinite normal;
  /* Firefox: */
  -moz-animation: myanimation 10s linear 0s infinite normal;
  /* Safari 和 Chrome: */
  -webkit-animation: myanimation 20s linear 0s infinite normal;
  /* Opera: */
  -o-animation: myanimation 10s linear 0s infinite normal;
}
.myanimation1 {
  width: 100px;
  height: 70px;
  background:red;
  position:absolute;
  text-align: center;
  animation: aw 10s linear 0s infinite normal;
  /* Firefox: */
  -moz-animation: aw 10s linear 0s infinite normal;
  /* Safari 和 Chrome: */
  -webkit-animation: aw 20s linear 0s infinite normal;
  /* Opera: */
  -o-animation: aw 10s linear 0s infinite normal;
}
.myanimation2 {
  width: 100px;
  height: 70px;
  background:red;
  position:absolute;
  text-align: center;
  animation: bw 10s linear 0s infinite normal;
  /* Firefox: */
  -moz-animation: bw 10s linear 0s infinite normal;
  /* Safari 和 Chrome: */
  -webkit-animation: bw 20s linear 0s infinite normal;
  /* Opera: */
  -o-animation: bw 10s linear 0s infinite normal;
}
.myanimation3 {
  width: 100px;
  height: 70px;
  background:red;
  position:absolute;
  text-align: center;
  animation: cw 10s linear 0s infinite normal;
  /* Firefox: */
  -moz-animation: cw 10s linear 0s infinite normal;
  /* Safari 和 Chrome: */
  -webkit-animation: cw 20s linear 0s infinite normal;
  /* Opera: */
  -o-animation: cw 10s linear 0s infinite normal;
}

@keyframes myanimation 
{
  0%   {background:red; left:0%; top:0%;}
  25%  {background:yellow; left:90%; top:0%;}
  50%  {background:blue; left:90%; top:90%;}
  75%  {background:green; left:0%; top:90%;}
  100% {background:red; left:0%; top:0%;}
}
@keyframes aw
{
  0%   {background:red; left:90%; top:0%;}
  25%  {background:yellow; left:90%; top:90%;}
  50%  {background:blue; left:0%; top:90%;}
  75%  {background:green; left:0%; top:0%;}
  100% {background:red; left:90%; top:0%;}
}
@keyframes bw
{
  0%   {background:red; left:90%; top:90%;}
  25%  {background:yellow; left:0%; top:90%;}
  50%  {background:blue; left:0%; top:0%;}
  75%  {background:green; left:90%; top:0%;}
  100% {background:red; left:90%; top:90%;}
}
@keyframes cw
{
  0%   {background:red; left:0%; top:90%;}
  25%  {background:yellow; left:0%; top:0%;}
  50%  {background:blue; left:90%; top:0%;}
  75%  {background:green; left:90%; top:90%;}
  100% {background:red; left:0%; top:90%;}
}
/*@keyframes myanimation
{
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:200px; top:0px;}
  50%  {background:blue; left:200px; top:200px;}
  75%  {background:green; left:0px; top:200px;}
  100% {background:red; left:0px; top:0px;}
}*/

/*@-moz-keyframes myanimation 
{
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:200px; top:0px;}
  50%  {background:blue; left:200px; top:200px;}
  75%  {background:green; left:0px; top:200px;}
  100% {background:red; left:0px; top:0px;}
}*/

/*@-webkit-keyframes myanimation 
{
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:500px; top:0px;}
  50%  {background:blue; left:500px; top:500px;}
  75%  {background:green; left:0px; top:500px;}
  100% {background:red; left:0px; top:0px;}
}*/

/*@-o-keyframes myanimation 
{
  0%   {background:red; left:0px; top:0px;}
  25%  {background:yellow; left:200px; top:0px;}
  50%  {background:blue; left:200px; top:200px;}
  75%  {background:green; left:0px; top:200px;}
  100% {background:red; left:0px; top:0px;}
}*/

.js-slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #2a2c34;
  z-index: -4; }

.js-slideshow img {
  position: absolute;
  z-index: -3;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover; }

.js-slideshow img.active {
  z-index: -1; 
}


/* login box  */


div.login {
  width:385px;
  padding:10px 10px 0px 10px;
  margin: auto;
  border:1px solid #BFBFBF;
  /*background-color:transparent;*/
  background-color:whitesmoke;
  opacity: 0.7;
  /* Add box-shadow */
  box-shadow:2px 2px 3px #aaaaaa;
}

div.login h2 {
  text-align: center;
}
