<html ng-app="Dawn">
    <head>
        <title>AngularJS</title>
				<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/app.css">
        <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
        <script src="http://apps.bdimg.com/libs/angular.js/1.4.0-beta.4/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    </head>
    <body>
    	<section>
    		<div class="sidebar" ng-controller="SideController">
    			<div class="search">
    				<input type="text" class="small" ng-model="filterField">
    			</div>
    			<div class="group" id="tree">
    				<a ng-repeat="item in items | filter: filterField | orderby: 'name'" ng-href="/{{item.name}}" ng-attr-title="{{item.intro}}" ng-bind="item.name"></a>
    			</div>
    		</div>

    		<div id="main" ng-view></div>
    	</section>
    	<script></script>
    	<script></script>
    	<script></script>
    	<script></script>
    </body>
</html>