<script src="js/login.js"></script>
<embed autoplay="true" src="http://prnqmldw7.bkt.clouddn.com/rock.mp3" width="0" height="0"/>
<div class="js-slideshow">
    <img src="http://7xl4ov.com1.z0.glb.clouddn.com/duty.jpg" data-color="rgb(229,34,140)" class="active">
    <img src="http://7xl4ov.com1.z0.glb.clouddn.com/fire.jpg" data-color="rgb(74,144,226)">
    <img src="http://7xl4ov.com1.z0.glb.clouddn.com/rock.jpg" data-color="rgb(197,0,0)">
    <img src="http://7xl4ov.com1.z0.glb.clouddn.com/dawn.jpg" data-color="rgb(245,205,35)">
</div>

<!-- redirect-uri="http://localhost:8000/#/about" -->

<div class="container" style="width:410px;margin-top:154px;color:#41744C;optity:0.8;">
    <div class="login">
        <form role="form" class="">
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                    <input type="email" class="form-control" placeholder="email" ng-model="email" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                    <input type="password" pattern="((?=.*\d)(?=.*\D)|(?=.*[a-zA-Z])(?=.*[^a-zA-Z]))^.{8,16}$" class="form-control" placeholder="password" ng-model="password" required title="密码规则:长度8~16位,数字、字母、字符至少包含两种。">
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="signin()">Sign in</button>
            <div class="container" style="text-align:center;width:100%;padding-top:11px;font-size:20px;">
                <oauth
                  site="https://github.com/login"
                  client-id="c9846255ee2d0486a832"
                  redirect-uri="http://localhost:8000/#/about"
                  text="Sign in with github"
                >
                </oauth>
            </div>
        </form>
    </div>
</div>
