<!-- <div class="about">
	<h1>It works!</h1>
	<div class="myanimation">我的angular学习笔记,项目代号DAWN。</div>
	<div class="myanimation1">我的angular学习笔记,项目代号DAWN。</div>
	<div class="myanimation2">我的angular学习笔记,项目代号DAWN。</div>
	<div class="myanimation3">我的angular学习笔记,项目代号DAWN。</div>
</div>
 -->

<div class="about">
	<nav class="navbar navbar-default navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
				<img src="http://7xl4ov.com1.z0.glb.clouddn.com/myloading.gif" style="width:100px;height:50px;">
	    </div>
			<div class="myDivideLine"></div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a ui-sref="manage.about">About <span class="sr-only"></span></a></li>
					<li class="myLiLine"></li>
	        <li><a ui-sref="manage.me">ME</a></li>
	        <li class="myLiLine"></li>
	        <li><a>有理想，有担当，戒定慧。</a></li>
<!-- 	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
 -->	      
	      </ul>
	    </div><!-- /.navbar-collapse -->
      <div class="myDivideLine"></div>
	  </div><!-- /.container-fluid -->
	</nav>
</div>
