<div class="about">
	<nav class="navbar navbar-default navbar-inverse">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
				<img src="http://7xl4ov.com1.z0.glb.clouddn.com/myloading.gif" style="width:100px;height:50px;">
	    </div>
			<div class="myDivideLine"></div>
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a ui-sref="manage.about">About <span class="sr-only"></span></a></li>
					<li class="myLiLine"></li>
	        <li><a ui-sref="manage.me">ME</a></li>
	        <li class="myLiLine"></li>
	        <li class="active"><a ui-sref="manage.dream">Dream</a></li>
	        <li class="myLiLine"></li>
	        <li><a>有理想，有担当，戒定慧。</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
      <div class="myDivideLine"></div>
	  </div><!-- /.container-fluid -->
	</nav>
	<section>
		<div class="steel">
	    <ul class="picture">
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/052C.jpg" title="052C" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/052C.jpg" alt="此图已阵亡">
            </a>
	        </li>
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/052D.jpg" title="052D" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/052D.jpg" alt="此图已阵亡">
            </a>
	        </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/056.jpg" title="056" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/056.jpg" alt="此图已阵亡">
            </a>
	        </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/59.jpg" title="59式" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/59.jpg" alt="此图已阵亡">
            </a>
	        </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/96.jpg" title="96式" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/96.jpg" alt="此图已阵亡">
            </a>
	        </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/99.gif" title="99式" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/99.gif" alt="此图已阵亡">
            </a>
	        </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/FBC-1.jpg" title="FBC-1" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/FBC-1.jpg" alt="此图已阵亡">
            </a>
	        </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/FC-1.jpg" title="FC-1枭龙" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/FC-1.jpg" alt="此图已阵亡">
            </a>
	        </li>        
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J10.jpg" title="J10" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J10.jpg" alt="此图已阵亡">
            </a>
	        </li>
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J10B.jpg" title="J10B" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J10B.jpg" alt="此图已阵亡">
            </a>
	        </li>
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J11B.jpg" title="J11B" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J11B.jpg" alt="此图已阵亡">
            </a>
	        </li>
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J20.jpg" title="J20" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J20.jpg" alt="此图已阵亡">
            </a>
	        </li>
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J31.jpg" title="J31" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J31.jpg" alt="此图已阵亡">
            </a>
	        </li>
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J5.jpg" title="J5" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J5.jpg" alt="此图已阵亡">
            </a>
	        </li>
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J6.jpg" title="J6" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J6.jpg" alt="此图已阵亡">
            </a>
	        </li>
	        <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J7.jpg" title="J7" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J7.jpg" alt="此图已阵亡">
            </a>
	        </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/J8.jpg" title="J8" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/J8.jpg" alt="此图已阵亡">
            </a>
          </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/jJ15.jpg" title="jJ15" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/jJ15.jpg" alt="此图已阵亡">
            </a>
          </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/KJ-2000.jpg" title="KJ2000" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/KJ-2000.jpg" alt="此图已阵亡">
            </a>
          </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/S27.gif" title="S27" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/S27.gif" alt="此图已阵亡">
            </a>
          </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/SU30MKK.jpg" title="SU30MKK" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/SU30MKK.jpg" alt="此图已阵亡">
            </a>
          </li>
          <li>
            <a href="http://7xl4ov.com1.z0.glb.clouddn.com/WZ10.jpg" title="WZ10" class="effect1">
              <img src="http://7xl4ov.com1.z0.glb.clouddn.com/WZ10.jpg" alt="此图已阵亡">
            </a>
          </li>
	    </ul>
		</div>
	</section>
</div>
